<h1>Dashboard</h1>
<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, cupiditate!</h3>

<div class="cards">
  <!-- card1 -->
  <mat-card>
    <app-card bg="orange" icon="signal_cellular_alt" discription="stock" count="2000+"></app-card>
  </mat-card>
  <!-- card2 -->
  <mat-card>
    <app-card bg="red" icon="home" discription="Customers" count="5000"></app-card>
  </mat-card>
  <!-- card3 -->
  <mat-card>
    <app-card bg="green" icon="groups" discription="employees" count="1000"></app-card>
  </mat-card>
  <!-- card4 -->
  <mat-card>
    <app-card bg="blue" icon= "trending_up" discription=" profit" count="15%"></app-card>
  </mat-card>
</div>

<h1>Recently Active Users</h1>
<app-table></app-table>