
<mat-drawer-container class="example-container">
    <mat-drawer class="side" mode="side" opened><h1><mat-icon>money</mat-icon>Budget</h1>
      <div class="stock-card">
        <mat-icon>show_chart</mat-icon>
        <p>View real-time stock charts.</p>
      </div>
      <div class="stock-card">
        <mat-icon>attach_money</mat-icon>
        <p>Track your investments and portfolios.</p>
      </div></mat-drawer>
    <mat-drawer-content><app-sidebar></app-sidebar></mat-drawer-content> 
  </mat-drawer-container>